input.txt
calculate_input_routes.sh
./Day*/input.txt
Day13/input.txt
Day10/input.txt
Day01/input.txt
Day02/input.txt
Day03/input.txt
Day9/input.txt
Day8/input.txt
Day7/input.txt
Day04/input.txt
Day12/input.txt
Day15/input.txt
Day05/input.txt
Day11/input.txt
Day14/input.txt
Day6/input.txt
